@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primaryColor1: #809baa;
  --primaryColor2: #d9d3d3;
  --primaryColor3: #1b3d1c;
  --primaryColor4: #e3e7f0;
  --white: #ffffff;
  --textDark: #0f172a;
  --textLight: #809baa;
  --maxWidth: 1200px;
}
  body {
    font-family: "Montserrat", serif;
    background: linear-gradient(135deg, #e3e7f0, #809baa);
    font-family: "Montserrat", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}
.signup-container {
  background: #d9d3d3;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  width: 640px;
}


    .sqaure{
        width:300px;
        height:30px;
        border-radius:5px;
        border:1px solid grey;
        display:flex;
        justify-content: flex-start;
        align-items:center;
        background-color: #f0f0f0;
        margin: 10px 0;
        text-align: relative; left:-20px;
    }
h1 {
    
    color: #1b3d1c;
    font-size: 36px;
    font-weight:bold;
    position: relative; top:-40px;
    
}
label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    color: #1b3d1c;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #809baa;
    border-radius: 6px;
    background: #e3e7f0;
    color: #333;
    font-size: 14px;
}

input:focus {
    border-color: #1b3d1c;
    outline: none;
}

p {
    color: #666;
    font-size: 18px;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #1b3d1c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    transition: background 0.3s;
}
button:hover {
    background-color: #809baa;
}
