@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primaryColor1: #809baa;
  --primaryColor2: #d9d3d3;
  --primaryColor3: #1b3d1c;
  --primaryColor4: #e3e7f0;
  --white: #ffffff;
  --textDark: #0f172a;
  --textLight: #809baa;
  --maxWidth: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: "Montserrat", serif;
line-height: 1.5rem

}

body {
    min-height: 100vh;
    min-height:100dvh;
    background-color: var(--primaryColor1);
    color: #1b3d1c;
        display: grid;
        grid-template-columns: auto 1fr;
}

#sideBar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--textLight);
    border-right: 1px solid var(--primaryColor3);

    position: sticky;
    top: 0;
    align-self: start;
}

#sideBar ul {
    list-style: none;
}

#sideBar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo {
        font-weight: 600;
    }
    
}

#sideBar ul li.active a{
    color: var(--primaryColor3);

    svg {
        fill: var(--primaryColor3);
    }
}   

#sideBar a, #sideBar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--textLight);
    display: flex;
    align-items: center;
    gap: 1em;
}

main {
    padding: min(30px, 7%);
}

main p {
    color: var(--primaryColor2);
    margin-top: 5px;
    margin-bottom: 15px;
    
}

.menuOption {
    border: 1px solid var(--primaryColor3);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);

    h2, p {margin-top: 1em}
}

#sideBar svg {
    flex-shrink: 0;
    fill: var(--primaryColor3);

}

#sideBar a span {
    flex-grow: 1;
}

#sideBar a:hover {
    background-color: var(--primaryColor1);
}

