@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primaryColor1: #809baa;
    --primaryColor2: #d9d3d3;
    --primaryColor3: #1b3d1c;
    --primaryColor4: #e3e7f0;
    --white: #ffffff;
    --text-dark: #0f172a;
    --text-light: #809baa;
    --max-width: 1200px;
  }

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Montserrat", serif;
    display: flex;
    flex-direction: column;
}
button{
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--backround);
    background-color: var(--primaryColor3);
}
p{
    color: var(--text-light);
}
nav{
    display: flex;
    padding: 30px;
    width: 100%;
}
nav h1{
    color: var(--text-dark);
    align-self: center;
    justify-self: center;
}

.listing-imgs{
    --col: 4;
    --rowH: 13vw;
    justify-content: center;
    align-self: center;
    width: 80vw;
    height: 50vh;
    margin: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(var(--col), var(--rowH));
    grid-auto-rows: var(--rowH);
    gap: 1rem;
}
  
.firstimg {
    grid-column: span 2;
    grid-row: span 2;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list-info{
    background-color: var(--primaryColor4);
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px 0 0 0;
    width: 100%;
}
.about{
    display: flex;
    padding: 10px;
}
h2{
    width: 50vw;
}
.p1{
    width: 50vw;
}
aside{
    border: solid var(--primaryColor1);
    width: 30vw;
    padding: 10px;
    margin: 10px;
    background-color: var(--white);
}
@media screen and (max-width: 1024px){
    .listing-imgs{
        --col: 2;
        --rowH: 100px;
    }
    .about{
        flex-direction: column;
    }
}