@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primaryColor1: #809baa;
  --primaryColor2: #d9d3d3;
  --primaryColor3: #1b3d1c;
  --primaryColor4: #e3e7f0;
  --white: #ffffff;
  --textDark: #0f172a;
  --textLight: #809baa;
  --maxWidth: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
}

.navbar {
  width: 100vw;
  background: transparent;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 20px 40px;
}

.navbar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

nav {
  width: 100%;
  padding: 15px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--primaryColor3);
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  color: white;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: var(--primaryColor3);
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease-in-out;
  font-weight: 600;
}

.nav-links a:hover {
  color: var(--primaryColor1);
  text-shadow: 0px 0px 10px var(--primaryColor1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: var(--white);
  list-style: none;
  padding: 10px;
  top: 120%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  min-width: 180px;
  border-radius: 8px;
  z-index: 10;
}

.dropdown-menu li a {
  color: var(--textDark);
  display: block;
  padding: 10px 15px;
  white-space: nowrap;
  transition: background 0.3s ease-in-out;
}

.dropdown-menu li a:hover {
  background: var(--primaryColor1);
  color: var(--white);
}


.dropdown.open .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Login CSS */

.loginContainer {
  position: fixed;
  display: none;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  z-index: 105;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.loginContainer.show {
  display: block;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

body.show::before {
  opacity: 1;
  pointer-events: auto;
}

.formClose {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--primaryColor3);
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.loginContainer h2 {
  font-size: 22px;
  color: var(--primaryColor3);
  text-align: center;
}

.inputBox {
  position: relative;
  margin-top: 30px;
  height: 40px;
}
.radio{
  display: flex;
}
.rentownRadio{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(.5);
}
.rentownLab{
  font-size: small;
  align-self: center;
  justify-self: center;
  padding-left: 20px;
}

.inputBox input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: var(--textDark);
  transition: all 0.2 ease;
  border-bottom: 1.5px solid #aaaaaa;
}

.inputBox input:focus {
  border-color: var(--primaryColor3);
}

.inputBox i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.inputBox i.email {
  left: 0;
  color: #aaaaaa;
}

.inputBox input:focus ~ i.email {
  color: var(--primaryColor3);
}

.loginContainer .buttonLogin {
  background: var(--primaryColor3);
  margin-top: 30px;
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
  color: var(--primaryColor2);
  cursor: pointer;
}

.loginSignUp {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.signUpForm {
  display: none;
}

.inputBox input {
  cursor: pointer;
}


.bar {
  background: var(--white);
  height: 3px;
  width: 25px;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

.sectionContainer {
  max-width: var(--maxWidth);
  margin: auto;
  padding: 5rem 1rem;
}

.sectionHeader {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--textDark);
  text-align: center;
}

.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primaryColor3);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 10px 20px var(--primaryColor2);
}

.loginButton {
  padding: 1rem 1.5rem;
  border: 3px solid var(--primaryColor3);
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 10px 20px var(--primaryColor2);
}

button:hover {
  background-color: #2d4d2e;
  color: var(--white);
  box-shadow: var(--primaryColor3);
  transition: 0.3s;
  scale: 1.1;
  transition: scale 0.4s ease-in-out;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

header {
  position: relative;
}

.link a {
  padding: 5px 0;
  font-weight: 700;
  color: var(--textDark);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.link a:hover {
  color: var(--primaryColor3);
  border-color: var(--primaryColor3);
}

.headerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.headerContent h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--textDark);
}

.headerContent p {
  margin-bottom: 2rem;
  color: var(--textLight);
}



.perListingContainer {
    background-color: red;
    max-width: 1200px;
    width: auto;
    height: auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin: auto;
}

.perListingContainer h1 {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.titleImage {
    background-color: blue;
    height: auto;
    width: auto;
}

.image-container {
    margin: 0; 
    padding: 0;
    object-fit: cover;
    width: 250px;
    height: 250px;
  }
  
  .mainImage {
    width: 300px;
    height: 510px;
  }

.imageContainer {
    background-color: green;
    width: auto;
    height: auto;
    gap: 10px;
    display: grid;
    cursor: pointer;
    grid-template-columns: 250px 250px 250px; 
    grid-template-rows: 250px 250px; 
    grid-template-areas: 
        "img-1 img-2 img-5"
        "img-3 img-4 img-5";
    object-fit: cover;

  }

  img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}









@media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background: var(--primaryColor3);
      position: absolute;
      top: 60px;
      width: 100%;
      left: 0;
      text-align: center;
      padding: 0;
      padding-bottom: 10px;
    }
  
    .sidebar {
      display: none;
    }
  
    .headerContainer {
      flex-direction: column;
      padding: 30px;
    }
  
    .headerContent {
      top: 40%;
      margin-top: 20%;
  
    }
  
    .editing {
      width: 90%;
     
    }
  
    .headerContent h1 {
      font-size: 2.5rem; /* Adjust h1 size */
    }
  
    .headerContent p {
      font-size: 1.1rem;
    }
  
    .loginButton {
      border: none;
      font-size: 1rem;
      white-space: nowrap;
      color: var(--white);
      border-radius: 5px;
      cursor: pointer;
      box-shadow: none;
      }
  
    .nav-links a {
      color: var(--white);
    }
  
    .navbar {
      background-color: var(--primaryColor3);
    }
  
    .logo {
      color: var(--white);
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .menu-toggle {
      display: flex;
    }
  
    .dropdown-menu {
      position: relative;
      background: var(--primaryColor2);
      width: 100%;
      text-align: center;
      padding: 0;
      opacity: 1;
      transform: translateY(0);
      border-radius: 0;
    }
  
    .dropdown-menu li a {
      color: var(--textDark);
      padding: 12px;
      display: block;
      border-bottom: 1px solid var(--primaryColor3);
    }
  
    .dropdown-menu li:last-child a {
      border-bottom: none;
    }
  }
  
  @media screen and (max-width: 499px) {
    .headerContent {
      top: 50%;
    }
    
  }
  